@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
}

header {
  margin-bottom: 0; /* 아래쪽 여백 제거 */
}

article {
  margin-top: 0; /* 위쪽 여백 제거 */
}

/* Default: Large Screen (1920px) */
.responsive-header {
  background-image: url("/images/images/large.png");
  background-size: 151px 40px; /* 원래 크기 유지 */
  background-repeat: no-repeat; /* 반복 제거 */
  background-position: left; /* 가운데 정렬 */
  height: 60px; /* 고정된 높이 설정 */
}

/* Medium Screen (744px) */
@media screen and (max-width: 1920px) and (min-width: 744px) {
  .responsive-header {
    background-image: url("/images/images/large.png");
    background-size: 151px 40px;
  }
}

/* Small Screen (375px) */
@media screen and (max-width: 743px) {
  .responsive-header {
    background-image: url("/images/images/small.png");
    background-size: 71px 40px;
  }
}

/* 공통 스타일 */
.search-with-icon {
  background-size: 100% 100%;
  background-image: url("/images/images/search.png");
  background-repeat: no-repeat; /* 반복 제거 */
  height: 40px; /* 입력 필드 높이 */
}

.button-add-with-icon {
  background-image: url("/images/button/btn_add_large_default.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: "calc(100% / 5)";
  height: 40px; /* 버튼 높이 */
  border: none; /* 버튼 테두리 제거 */
  cursor: pointer;
}

.button-add-with-icon:hover {
  background-image: url("/images/button/btn_add_large_active.png"); /* 호버 시 이미지 */
}

.title_img {
  width: 100px;
  height: 36px;
}
/* 공통 스타일 */
ul {
  list-style: none; /* 기본 리스트 스타일 제거 */
  padding: 0;
  margin: 0;
}

li {
  background-color: #ffffff;
  border-radius: 27px;
  border: 2px solid #000000;
  padding: 10px 15px;
  display: flex;
  align-items: center; /* 텍스트와 체크박스 정렬 */
  margin-bottom: 10px; /* 리스트 간격 */
  transition: background-color 0.3s ease; /* 부드러운 배경색 전환 */
}

label {
  margin-left: 10px; /* 체크박스와 텍스트 간격 */
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; /* 기본 가운데 줄 제거 */
}

/* 체크박스 스타일 */
input[type="checkbox"] {
  appearance: none; /* 기본 체크박스 제거 */
  width: 20px;
  height: 20px;
  background-image: url("/images/icon/check_no.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

/* 체크박스가 체크되었을 때 */
input[type="checkbox"]:checked {
  background-image: url("/images/icon/check_yes.png");
}

/* 체크박스가 체크되었을 때 li 스타일 변경 */
input[type="checkbox"]:checked + label {
  text-decoration: line-through; /* 텍스트 가운데 줄 */
  color: #6b7280; /* 약간 흐릿한 텍스트 색상 */
}

input[type="checkbox"]:checked + label::before {
  content: "";
}

input[type="checkbox"]:checked ~ li {
  background-color: #ede9fe; /* 체크된 상태의 배경색 */
}
